root = true

[*.ts]
indent_style = space
indent_size = 2
spaces_around_brackets = both

[*.tsx]
indent_style = space
indent_size = 2
spaces_around_brackets = both

[*.vue]
indent_style = space
indent_size = 2
spaces_around_brackets = both